body{
    background-color: #F0F2F5;
    /* font-family: ; */
}
h1{
    color: black;
    position: relative;
    top: 240px;
    left:225px;
    font-size:  28px;
    font-weight: 450;
}
#logo{
    position: relative;
    top: 4rem;
    left: 12rem;
}
.number_password{
    background-color: white;
    position: relative;
    height: 25px;
    width: 90%;
    border-radius: 5%;  
}
.register{
    background-color: rgb(250, 250, 250);
    position: relative;
    top: -5rem;
    left: 15rem;
    height: 345px;
    width: 25%;
    margin: auto;
    padding: 0 10px;
    border-radius: 10px;
    
}
.phone-num, .parol {
    position: relative;
    top:1rem;
    left: 0.6rem;
    width: 320px; 
    margin: 10px 0; 
}

#email, #password {
    width: 105%; 
    height: 50px;
    font-size: 17px;
    padding: 10px; 
    box-sizing: border-box; 
}

#login{
    background-color: #0866FF;
    color: white;
    position: relative;
    top: 1rem;
    left: 1rem;
    border-radius: 6px;
    border-color: #0866FF;
    height: 50px;
    width: 95%;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    padding: 0 20px;
}
.line{
    background-color: rgb(194, 192, 192);
    position: relative;
    top: 4.5rem;
    height: 1px;
}
#new-acc{
    background-color: #42B72A;
    color: white;
    position: relative;
    right: 2rem;
    margin: 100px auto;
    border-radius: 6px;
    height: 48px;
    width: 59%;
    /* font-family: Helvetica Neue; */
    font-weight: 500;
    font-size: 17px;
    padding: 0 20px;
}
#forgot{
    color: #0866FF;
    text-decoration: none;
    position: relative;
    bottom: 5rem;
    left: 8.5rem;
    font-weight: 500;
    font-size: 14.5px;
    /* font-family: Helvetica Neue; */
}
#new-page{
    text-decoration: none;
    color: black;
}
#new-page-pos{
    position: relative;
    top: -4.5rem;
    left:51rem;
    font-size: 14.5px;
}

.links1{
    text-decoration: none;
    color: grey;
    position: relative;
    top:5rem;
    left: 4rem;
}
.links2{
    text-decoration: none;
    color: grey;
    position: relative;
    bottom:15rem;
    left:26rem;
}
.links3{
    text-decoration: none;
    color: grey;
    position: relative;
    bottom:33.5rem;
    left: 47rem;
}
.links-container {
    padding: 10px;
    border-width: 0 0 0 1px;
    background-color: white;
    
}
.links-container ul {
    list-style-type: none;
    padding: 0;
}

.links-container li {
    margin-bottom: 5px;
    
}

